<div class="form-container">
    <h2 style="text-align: center;" class="">Healthcare <br/> Appointment <br/> Management System</h2>
    <span class="">Please enter your details here</span>
    <form class="itemForm" (ngSubmit)="onRegister()" [formGroup]="itemForm">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" formControlName="username"/>
            <div class="error">Please enter your Username</div>
        </div>
        <div>
            <label for="email"> Email Address</label>
            <input type="email" id="email" formControlName="email"/>
            <div class="error">Please enter your Email</div>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password"/>
            <div class="error">Please enter your Password</div>
        </div>
        <div>
            <label for="role">Role</label>
            <input type="text" id="role" formControlName="role"/>
            <div class="error">Please choose a role</div>
        </div>
        <button class="register">Register</button>
    </form>
    <span class="go-to-login">Go to <a >Login</a></span>
</div>