<div class="form-container">
    <h2 style="text-align: center;" class="">Healthcare <br/> Appointment <br/> Management System</h2>
    <span class="">Please enter your username and password!</span>
    <form class="item-Form" [formGroup]="itemForm" (ngSubmit)="onLogin()">
        <div class="input-div">
            <label for="username">Username</label>
            <input type="text" id="username" formControlName="username" placeholder="Enter your name"/>
            <div class="error">Please enter Username</div>
        </div>
        <div class="input-div">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" placeholder="Enter your password"/>
            <div class="error">Please enter Password</div>
        </div>
        <button class="login">Login</button>
    </form>
    <span>Don't have an account? <a class="registration-anchor" (click)="registration()">Registration</a></span>
</div>